<?xml version="1.0"?>
<launch>
    <node pkg="oct_client" type="oct_client" name="oct_client" output="screen">
        <param name="serverIP" type="string" value="130.75.144.207"/>
    </node>

    <node pkg="OCT_segmentation" type="OCT_segmentation_node" 
        name="OCT_segmentation" output="screen">
    </node>

    <node pkg="OCT_registration" type="OCT_registration_node" 
        name="OCT_registration" output="screen" > <!--launch-prefix="gdb -ex run dashdash args" machine="imesAS4"-->
		<param name="debugMode_gui" type="bool" value="false"/>
		
		<param name="dx_mm" type="int" value="10"/>
		<param name="dy_mm" type="int" value="10"/>
		<param name="dz_mm" type="int" value="10"/>
		<param name="dx_mm_calibration" type="int" value="9"/>
		<param name="dy_mm_calibration" type="int" value="9"/>
		
		<param name="nodeCycleFrequency" type="double" value="30"/>
	
		<param name="imageTopicName2D" type="string" value="camera_left/image"/>		

    </node>

    <node pkg="dynamic_reconfigure" type="reconfigure_gui"
        name="reconfigure_gui" output="screen">
    </node>

    <node name="OCT_overlay" pkg="OCT_overlay" type="OCT_overlay" 
        output="screen" launch-prefix="gdb -ex run --args">
        <param name="leftImageTopicName" type="string" value="/stereomatching/
            image_left"/>
        <param name="rightImageTopicName" type="string" value="/stereomatching/
            image_right"/>
        <param name="dispImageTopicName" type="string" value="/stereomatching/
            disparity_map"/>
        <param name="depthImageTopicName" type="string" value="/stereomatching/
            depth_map"/>
    </node>

    <node pkg="camera" type="camera_node" name="stereocamera">
	    <param name="cameraDriver" type="string" value="usb_cam"/>

		<param name="stereoCamera" type="bool" value="true" />

		<param name="left/videoDevice" type="string" value="/dev/video1" />
		<param name="right/videoDevice" type="string" value="/dev/video0" />

	   	<param name="imageWidth" type="int" value="640" />
	   	<param name="imageHeight" type="int" value="480" />
			
		<param name="left/image180" type="bool" value="true"/>
		<param name="right/image180" type="bool" value="false"/>

		<!-- fps currently only at uvc_cam and video_file -->
	   	<param name="fps" type="double" value="30" />

		<!-- usb_cam: mmap, read, userptr -->
		<!-- opencv, uvc_cam: - (use mmap) -->
		<param name="ioMethod" type="string" value="mmap" />

		<!-- usb_cam: yuyv, uyvy, mjpeg -->
		<!-- opencv: yuyv, uyvy, mjpeg, rgb -->
		<!-- uvc_cam: yuyv, mjpeg, rgb -->
		<param name="pixelFormat" type="string" value="yuyv" />

		<!-- show live image in opencv window -->
		<param name="showImage" type="bool" value="false"/>

		<!-- publisher name -->
		<param name="publishingTopicName" type="string" value="image"/>

		<!-- halt at image -->
	   	<param name="haltAtImage" type="int" value="-1" />

        <param name="brightness" type="int" value="28"/>
		<param name="contrast" type="int" value="34"/>
		<param name="saturation" type="int" value="9"/>
		<param name="hue" type="int" value="50"/>
  	</node>	

	<node pkg="stereomatching" type="stereomatching_node" name="stereomatching">
		<param name="leftImageTopicName" type="string" value="/stereocamera/left/image"/>
		<param name="rightImageTopicName" type="string" value="/stereocamera/right/image"/>

		<param name="visualizationOn" type="bool" value="false"/>
		<param name="publishRectifiedImages" type="bool" value="true"/>
		<param name="publishDispMap" type="bool" value="true"/>
		<param name="publishDepthMap" type="bool" value="true"/>
		<param name="publishSurfacePoints" type="bool" value="false"/>

		<param name="ROITopicName" type="string" value="stereomatchingROI"/>

		<rosparam command="load" ns="left" file="$(find stereomatching)/../cameracalibration/launch/SOMIKON/calibration_left.yaml" />
		<rosparam command="load" ns="right" file="$(find stereomatching)/../cameracalibration/launch/SOMIKON/calibration_right.yaml" />
		<rosparam command="load" file="$(find stereomatching)/../cameracalibration/launch/SOMIKON/calibration_stereo.yaml" />

		<param name="ROI_x" type="int" value="0"/>
		<param name="ROI_y" type="int" value="0"/>
		<param name="ROI_width" type="int" value="640"/>
		<param name="ROI_height" type="int" value="480"/>
		<param name="dispMin" type="int" value="-120"/>
		<param name="dispMax" type="int" value="-20"/>
		<param name="censusRankWidth" type="int" value="9"/>
		<param name="censusRankHeight" type="int" value="9"/>
		<param name="costsWidth" type="int" value="15"/>
		<param name="costsHeight" type="int" value="15"/>
		<param name="thresholdLR" type="double" value="0.5"/>
		<param name="extendedLR" type="bool" value="false"/>
		<param name="thresholdCosts" type="double" value="0.0"/>		
		<param name="textureFilterWidth" type="int" value="1"/>
		<param name="textureFilterHeight" type="int" value="1"/>
		<param name="textureFilterThreshold" type="double" value="0.0"/>
		<param name="speckleSize" type="int" value="1500"/>
		<param name="speckleDispRange" type="double" value="0.5"/>
		<param name="zMin" type="double" value="0.0"/>
		<param name="zMax" type="double" value="1000.0"/>
		<param name="fastDisparity" type="bool" value="true"/>
		<param name="fastDisparityScaling" type="int" value="2"/>
		<param name="fastDisparityRefine" type="bool" value="false"/>
		<param name="fastDisparityRefineRadius" type="int" value="10"/>
		<param name="filterType" type="int" value="2"/>
		<param name="filterKernelSize" type="int" value="11"/>
		<param name="filterParam1" type="double" value="1"/>
		<param name="filterParam2" type="double" value="4.0"/>
		<param name="useJBF" type="bool" value="true"/>
		<param name="JBFilterKernelRadius" type="int" value="1"/>
		<param name="JBFilterParam1" type="double" value="1.0"/>
		<param name="JBFilterParam2" type="double" value="1.0"/>
		<param name="JBFRepetitions" type="int" value="5"/>
		<param name="repeatBF" type="bool" value="false"/>
	</node>
</launch>
